<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:70vw; max-width: 1200px" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_tittle" class="modal-title">Ingreso de Asignacion Horarios</h3>
                <h4 id="cliente_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label class="form-label">asignacion ID</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <p><b>Horario</b></p>
                        <select id="fksemanal" class="form-control show-tick detail" title="Seleccione Horario" required>
                            {% for semanal in select_semanal  %}
                                <option value="{{semanal.id}}">{{ semanal.nombre}}</option>
                            {% end %}
                        </select>
                    </div>
                    <div class="form-group form-float">
                        <p><b>Genero</b></p>
                        <select id="sexo" class="form-control show-tick" title="Seleccione Genero">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                    <div class="row clearfix">
                        <div id="desplegable" class="col-sm-6">
                            <div class="form-group form-float">
                            <label>Personal</label>
                                <div class="clearfix m-b-20">
                                    <div class="dd">
                                        <ol class="dd-list">
                                            <li class="dd-item dd-nodrag" data-id="company">
                                                <div class="dd-handle">
                                                    <input id="company" type="checkbox" class="module chk-col-deep-purple">
                                                    <label for="company">Todos</label>
                                                </div>
                                                <ol class="dd-list">
                                                    {% for empresa in admin %}
                                                    <li class="dd-item dd-nodrag " data-id="em{{empresa[0]}}">
                                                        <div class="dd-handle ">
                                                            <input id="em{{empresa[0]}}" type="checkbox" class="module chk-col-deep-purple empresa" data-id="{{empresa[0]}}">
                                                            <label for="em{{empresa[0]}}">{{empresa[1]}}</label>
                                                        </div>
                                                        <ol class="dd-list">
                                                        {% if isinstance(admin[empresa], dict) %}
                                                            {% for sucursal in admin[empresa] %}
                                                                <li class="dd-item dd-collapsed" data-id="suc{{sucursal[0]}}">
                                                                    <div class="dd-handle">
                                                                        <input id="suc{{sucursal[0]}}" type="checkbox" class="module chk-col-deep-purple sucursal" data-id="{{sucursal[0]}}" data-empr="{{empresa[0]}}">
                                                                        <label for="suc{{sucursal[0]}}">{{sucursal[1]}}</label>
                                                                    </div>
                                                                    <ol class="dd-list">
                                                                        {% if isinstance(admin[empresa][sucursal], dict) %}
                                                                            {% for gerencia in admin[empresa][sucursal] %}
                                                                                <li class="dd-item dd-nodrag dd-collapsed" data-id="ge{{gerencia[0]}}">
                                                                                    <div class="dd-handle">
                                                                                        <input id="ge{{gerencia[0]}}" type="checkbox" class="module chk-col-deep-purple gerencia" data-id="{{gerencia[0]}}" data-suc="{{sucursal[0]}}" data-empr="{{empresa[0]}}">
                                                                                        <label for="ge{{gerencia[0]}}">{{gerencia[1]}}</label>
                                                                                    </div>
                                                                                    <ol class="dd-list">
                                                                                        {% if isinstance(admin[empresa][sucursal][gerencia], dict) %}
                                                                                            {% for grupo in admin[empresa][sucursal][gerencia] %}
                                                                                                <li class="dd-item dd-collapsed" data-id="gr{{grupo[0]}}">
                                                                                                    <div class="dd-handle">
                                                                                                        <input id="gr{{grupo[0]}}" type="checkbox" class="module chk-col-deep-purple grupo" data-id="{{grupo[0]}}" data-ger="{{gerencia[0]}}" data-suc="{{sucursal[0]}}" data-empr="{{empresa[0]}}">
                                                                                                        <label for="gr{{grupo[0]}}">{{grupo[1]}}</label>
                                                                                                    </div>
                                                                                                    <ol class="dd-list">
                                                                                                        {% raw admin[empresa][sucursal][gerencia][grupo] %}
                                                                                                    </ol>
                                                                                                </li>
                                                                                            {% end %}
                                                                                        {% else %}
                                                                                            {% raw admin[empresa][sucursal][gerencia] %}
                                                                                        {% end %}
                                                                                </ol>
                                                                                </li>
                                                                            {% end %}
                                                                        {% else %}
                                                                            {% raw admin[empresa][sucursal] %}
                                                                        {% end %}
                                                                </ol>
                                                                </li>
                                                            {% end %}
                                                        {% else %}
                                                            {% raw admin[empresa] %}
                                                        {% end %}
                                                    </ol>
                                                    </li>
                                                    {% end %}
                                                </ol>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                         </div>

                        <div class="col-sm-4">
                             <label>Buscar personas</label>
                            <select id="personal" class="form-control">
                                {% for s in personal %}
                                <option value="{{ s.id }}">{{ s.fullname }}</option>
                                {% end %}
                            </select>
                            </br>
                            </br>
                        </div>
                        <div class="col-sm-6">
                            <div id="personal" class="box-body">
                                <div id="personal_div" class="clearfix">

                                </div>
                             </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    {% if 'asignacion_insert' in privileges %}
                    <button id="insert" type="button" class="btn bg-page-own waves-effect">Guardar<i class="material-icons">save</i></button>
                    {% end %}
                    {% if 'asignacion_update' in privileges %}
                    <button id="update" type="button" class="btn bg-page-own waves-effect">Guardar<i class="material-icons">save</i></button>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-rep-xls">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="title-form" class="modal-title">Exportar Asignacion</h3>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <label class="link-own"><i class="material-icons">cloud_download</i> Descargar:</label>
                    <a href="" id="link_excel"></a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-orange waves-effect" data-dismiss="modal">
                    <i class="material-icons">close</i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


<div id="form-importar" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:60vw; max-width: 500px" >
        <div class="modal-content">
              <form id="importar-form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h3 id="importxls_title" class="modal-title">Importar</h3>
                </div>

                <div class="modal-body">
                    <div id="importxls_form_body" class="box-body">
                        <label class="control-label">Excel o Texto</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input id="archivo" name="archivo" type="file" class="form-control file xlsfl" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button id="insert-importar" type="submit" class="btn btn-primary white-own">Importar</button>
                </div>
            </form>
        </div>
    </div>
</div>
