
{% for c in objects %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.semanal.nombre }}</td>


    <td align="center">
        <div class="contenedor">
            {% if 'asignacion_update' in privileges %}
             <div id="edit" data-json="{{c.id}}" class="caja-icono edit" title="Editar">
                    <img src="/resources/iconos/editar.ico" class="icono-table"/>
                </div>
            {% end %}

            {% if c.asignacion == [] %}
                {% if 'asignacion_delete' in privileges %}
                    <div id="delete" data-json="{{c.id}}" class="caja-icono delete" title="Eliminar">
                        <img src="/resources/iconos/eliminar.ico" class="icono-table"/>
                    </div>
                {% end %}
            {% end %}

        </div>
    </td>
</tr>
{% end %}


