<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="departamento_tittle" class="modal-title">Ingreso de Departamento</h3>
                <h4 id="departamento_enable" class=""></h4>
            </div>

            <div class="modal-body">
                <div id="departamento_form_body" class="box-body">
                    <div id="id_div" class="form-group">
                        <div class="form-line">
                            {% module xsrf_form_html() %}
                            <input id="id" type="text" class="form-control" disabled="disabled">
                            <label for="id" class="form-label">Departamento ID</label>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12 select-cont">
                            <label for="fkpais">País</label>
                                <select id="fkpais" class="form-control show-tick" required>
                                {% for s in pais %}
                                    <option value="{{s.id}}">{{s.nombre}}</option >
                                {% end %}
                                </select>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="nombre" name="Nombre" type="text" class="form-control text" required>
                            <label class="form-label">Nombre</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                {% if 'departamento_insert' in privileges %}
                    <button id="insert" type="button" class="btn bg-page-own waves-effect">Guardar <i class="material-icons">save</i></button>
                {% end %}
                {% if 'departamento_update' in privileges %}
                    <button id="update" type="button" class="btn bg-page-own waves-effect">Modificar <i class="material-icons">refresh</i></button>
                {% end %}
                </div>
            </div>
        </div>
    </div>
</div>
