{% for c in objects %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.tipoausencia.nombre }}</td>
    <td>{{ c.persona.fullname }}</td>
    <td>{{ c.descripcion }}</td>
    <td>{{ c.fechai.strftime("%d/%m/%Y") }}</td>
    <td>{{ c.fechaf.strftime("%d/%m/%Y") }}</td>
    <td>{{ c.estado }}</td>

    <td align="center">
        <div class="contenedor">
            {% if 'ausencia_update' in privileges %}
                <div id="edit" data-json="{{c.id}}" class="caja-icono edit" title="Editar">
                    <img src="/resources/iconos/editar.ico" class="icono-table"/>
                </div>
            {% end %}
{#            {% if 'ausencia_delete' in privileges %}#}
{#                <div id="delete" data-json="{{c.id}}" class="caja-icono delete" title="Eliminar">#}
{#                    <img src="/resources/iconos/eliminar.ico" class="icono-table"/>#}
{#                </div>#}
{#            {% end %}#}
        </div>
    </td>
</tr>
{% end %}


