.green-own{
    background-color: #95c11f;
}
.titulo-verde-own{
    color: #044f17 !important;
}
.bg-page-own{
    background-color: #0B1D50;
}
.blanco{
    color: white !important;
}
.title-rg-own{
    font-weight: bolder !important;
    color: #044f17 !important;
}