#calendario{
    height:400px;
    width:400px;
    margin:100px;
    text-align:center;

}

#table{
    font-size: 24px;
    width: 300px;
    border:solid thin black;
    margin:50px;
    border-collapse: collapse;
}