.green-own{
    background-color: #95c11f !important;
}
.white-own{
    color: white !important;
}
.bg-page-own{
    background-color: #044f17;
}
.error-own{
    display: block !important;
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}
.titulo-verde-own{
    color: #044f17 !important;
}
.bg-page-own{
    background-color: #0B1D50;
}
.blanco{
    color: white !important;
}
.title-rg-own{
    font-weight: bolder !important;
    color: #044f17 !important;
}