
{% for c in objects %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.nombre }}</td>
    <td>
    {% set aux = '' %}
    {% for hr in c.hora %}
        {% set aux+= ' | '+hr.entrada.strftime("%H:%M")+' - '+hr.salida.strftime("%H:%M") %}
    {% end %}

    {{aux.replace(' | ', '', 1)}}
    </td>


    <td align="center">
        <div class="contenedor">
            {% if 'turno_update' in privileges %}
                <div id="edit" data-json="{{c.id}}" class="caja-icono edit" title="Editar">
                    <img src="/resources/iconos/editar.ico" class="icono-table"/>
                </div>
            {% end %}
            {% if 'turno_delete' in privileges %}
{#                <div id="delete" data-json="{{c.id}}" class="caja-icono delete" title="Eliminar">#}
{#                    <img src="/resources/iconos/eliminar.ico" class="icono-table"/>#}
{#                </div>#}
            {% end %}
        </div>
    </td>
</tr>
{% end %}


