<div id="dato_form_body" class="box-body">
    <div class="bordesdiv">
        </br>
        <div class="modal-header header-own">
            <h4 id="dato_title" class="modal-title">Datos Padre</h4>
        </div>

        <div class="row clearfix ">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <label for="nombrecompletop" class="form-label">Nombre</label>
                    <div class="form-line">
                        <input id="idp" type="hidden" class="padres">
                        <input id="tipop" type="hidden" value="Padre" class="padres">
                        <input id="nombrecompletop" type="text" class="form-control name padres" >

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="fechanacimientop" class="form-label">Fecha de Nacimiento</label>
                    <div class="form-line">

                        <input id="fechanacimientop" name="fecha" type="text" class="form-control date padres" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6 select-cont">
                <label for="situacionp">Situación</label>
                <select id="situacionp" class="form-control show-tick padres" >
                    <option value="Fallecido">Fallecido</option>
                    <option value="Vivo">Vivo</option>
                </select>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <label for="telefenop" class="form-label">Teléfono</label>
                    <div class="form-line">
                        <input id="telefenop" type="text" class="form-control text padres">

                    </div>
                </div>
            </div>
        </div>
        </br>
    </div>
    </br>
    <div class="bordesdiv">
        </br>
        <div class="modal-header header-own">
            <h4 id="dato_title" class="modal-title">Datos Madre</h4>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <label for="nombrecompletom" class="form-label">Nombre</label>
                    <div class="form-line">
                        <input id="idm" type="hidden" class="padres">
                        <input id="tipom" type="hidden" value="Madre" class="padres">
                        <input id="nombrecompletom" type="text" class="form-control name padres" >

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="fechanacimientom" class="form-label">Fecha de Nacimiento</label>
                    <div class="form-line">

                        <input id="fechanacimientom" name="fecha" type="text" class="form-control date padres" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6 select-cont">
                <label for="situacionm">Situación</label>
                <select id="situacionm" class="form-control show-tick padres" >
                    <option value="Fallecido">Fallecido</option>
                    <option value="Vivo">Vivo</option>
                </select>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <label for="telefenom" class="form-label">Teléfono</label>
                    <div class="form-line">
                        <input id="telefenom" type="text" class="form-control text padres">

                    </div>
                </div>
            </div>
        </div>
        </br>
    </div>
</div>