<div id="administrativo_form_body" class="box-body">
    <div class="bordesdiv">
        </br>
        <div class="modal-header header-own">
            <h4 id="administrativo_title" class="modal-title">Cónyuge</h4>
        </div>

        <div class="modal-header header-own">
            <h6 id="administrativo_title" class="modal-title">Datos Generales</h6>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="idcon" type="hidden" class="conyuge">
                        <input id="nombre" type="text" class="form-control conyuge" >
                        <label for="nombre" class="form-label">Nombre</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div class="form-line">
                        <label for="fechanacimientocyg" class="form-label">Fecha de Nacimiento</label>
                        <input id="fechanacimientocyg" name="fecha" type="text" class="form-control date conyuge" >
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="cicyg" type="text" class="form-control conyuge" >
                        <label for="cicyg" class="form-label">CI</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 select-cont">
                <label for="sexoc">Género</label>
                <select id="sexoc" class="form-control show-tick conyuge" >
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
        </div>

        </br>
    </div>
    </br>
    <div class="bordesdiv">
        </br>
        <div class="modal-header header-own">
            <h4 id="dato_title" class="modal-title">Lugar de Nacimiento</h4>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="pais" type="text" class="form-control text conyuge">
                        <label for="pais" class="form-label">País</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="departamento" type="text" class="form-control text conyuge">
                        <label for="departamento" class="form-label">Departamento</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="provincia" type="text" class="form-control text conyuge">
                        <label for="provincia" class="form-label">Provincia</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="distrito" type="text" class="form-control text conyuge">
                        <label for="distrito" class="form-label">Distrito</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="domiciliocyg" type="text" class="form-control text conyuge">
                        <label for="domiciliocyg" class="form-label">Domicilio</label>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="telefonoc" type="text" class="form-control conyuge" >
                        <label for="telefonoc" class="form-label">Teléfono Fijo</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="instruccion" type="text" class="form-control conyuge" >
                        <label for="instruccion" class="form-label">Instrucción</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="ocupacion" type="text" class="form-control conyuge" >
                        <label for="ocupacion" class="form-label">Ocupación</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="centrotrabajo" type="text" class="form-control conyuge" >
                        <label for="centrotrabajo" class="form-label">Centro de Trabajo</label>
                    </div>
                </div>
            </div>
        </div>
        </br>
    </div>
    </br>
</div>
