<div id="beca_form_body" class="box-body">
    <div class="bordesdiv">
        </br>
        <div class="modal-header header-own">
            <h4 id="beca_title" class="modal-title">Becas/Estudios</h4>
        </div>

        <div class="row clearfix">
           <div class="col-sm-10">
                <label class="form-label">Datos beca</label>
           </div>
           <div class="col-sm-2">
                <div class="form-group">
                    <button id="new_beca" type="button" class="btn bg-page-own waves-effect" title="Agregar">
                        <i class="material-icons">add</i>
                    </button>
                </div>
           </div>
        </div>

        <div class="row clearfix">
           <div class="col-sm-12">
                 <div id="beca" class="box-body">
                    <div id="beca_div" class="clearfix">

                    </div>
                 </div>
           </div>
       </div>
        </br>
    </div>
    </br>
</div>