<div id="administrativo_form_body" class="box-body">
    <div class="bordesdiv">
        </br>
        <div class="modal-header header-own">
            <h4 id="administrativo_title" class="modal-title">Formulario</h4>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="idadm" type="hidden" class=" administrativo">
                        <input id="nroasegurado" type="text" class="form-control administrativo">
                        <label for="nroasegurado" class="form-label">N° Asegurado</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="cajasalud" type="text" class="form-control administrativo">
                        <label for="cajasalud" class="form-label">Caja de Salud</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="afp" type="text" class="form-control administrativo">
                        <label for="afp" class="form-label">AFP</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4 select-cont">
                <label for="banco">Banco</label>
                <select id="banco" class="form-control show-tick administrativo" >
                    <option value="CAJA PETROLERA DE SALUD SCZ">CAJA PETROLERA DE SALUD SCZ</option>
                    <option value="CAJA PETROLERA YACUIBA">CAJA PETROLERA YACUIBA</option>
                    <option value="Caja Petrolera de Salud">Caja Petrolera de Salud</option>
                    <option value="Caja de Salud Caminos">Caja de Salud Caminos</option>
                    <option value="Caja Cordes">Caja Cordes</option>
                    <option value="Caja de Banca de Salud Estatal">Caja de Banca de Salud Estatal</option>
                    <option value="Caja Seguro Social Universitario">Caja Seguro Social Universitario</option>
                    <option value="Caja Nacional de Salud">Caja Nacional de Salud</option>
                    <option value="Caja Seguro Social Militar">Caja Seguro Social Militar</option>
                    <option value="Caja de Salud Banca Privada">Caja de Salud Banca Privada</option>
                </select>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <label for="nrocuenta" class="form-label">Nª de Cuenta</label>
                    <div class="form-line">
                        <input id="nrocuenta" type="text" class="form-control administrativo">

                    </div>
                </div>
            </div>

            <div class="col-sm-4 select-cont">
                <label for="tipotrabajador">Tipo de Trabajador</label>
                <select id="tipotrabajador" class="form-control show-tick administrativo">
                    <option value="Extranjeros">Extranjeros</option>
                    <option value="Jubilado">Jubilado</option>
                    <option value="Normal">Normal</option>
                </select>
            </div>

        </div>
        </br>
    </div>
    </br>
    <div class="bordesdiv">
        </br>

        <div class="modal-header header-own">
            <h4 id="dato_title" class="modal-title">Otros</h4>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="libretamilitar" type="text" class="form-control administrativo" >
                        <label for="libretamilitar" class="form-label">Libreta Militar</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="brevete" type="text" class="form-control administrativo" >
                        <label for="brevete" class="form-label">Brevete</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="gruposanguineo" type="text" class="form-control administrativo" >
                        <label for="gruposanguineo" class="form-label">Grupo Sanguíneo</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="telefonofijo" type="text" class="form-control administrativo" >
                        <label for="telefonofijo" class="form-label">Teléfono Fijo</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="telefonocelular" type="text" class="form-control administrativo" >
                        <label for="telefonocelular" class="form-label">Teléfono Celular</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6 select-cont">
                <label for="hijos">Tiene Hijos</label>
                <select id="hijos" class="form-control show-tick administrativo" >
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
            </div>

            <div class="col-sm-6 select-cont">
                <label for="estadocivil">Estado Civil</label>
                <select id="estadocivil" class="form-control show-tick administrativo" >
                    <option value="Soltero">Soltero</option>
                    <option value="Concubino">Concubino</option>
                    <option value="Casado">Casado</option>
                    <option value="Divorciado">Divorciado</option>
                    <option value="Viudo">Viudo</option>
                </select>
            </div>
        </div>

        </br>
    </div>
    </br>
    <div class="bordesdiv">
        </br>

        <div class="modal-header header-own">
            <h4 id="dato_title" class="modal-title">Lugar de Nacimiento</h4>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nacimientopais" type="text" class="form-control text administrativo">
                        <label for="nacimientopais" class="form-label">País</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nacimientodepartamento" type="text" class="form-control text administrativo">
                        <label for="nacimientodepartamento" class="form-label">Departamento</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nacimientoprovincia" type="text" class="form-control text administrativo">
                        <label for="nacimientoprovincia" class="form-label">Provincia</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nacimientodistrito" type="text" class="form-control text administrativo">
                        <label for="nacimientodistrito" class="form-label">Distrito</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nacimientodomicilio" type="text" class="form-control text administrativo">
                        <label for="nacimientodomicilio" class="form-label">Domicilio</label>
                    </div>
                </div>
            </div>
        </div>

        </br>
    </div>
    </br>
    <div class="bordesdiv">
        </br>

        <div class="modal-header header-own">
            <h4 id="dato_title" class="modal-title">Domicilio Actual</h4>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="domiciliopais" type="text" class="form-control text administrativo">
                        <label for="domiciliopais" class="form-label">País</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="domiciliodepartamento" type="text" class="form-control text administrativo">
                        <label for="domiciliodepartamento" class="form-label">Departamento</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="domicilioprovincia" type="text" class="form-control text administrativo">
                        <label for="domicilioprovincia" class="form-label">Provincia</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="domiciliodistrito" type="text" class="form-control text administrativo">
                        <label for="domiciliodistrito" class="form-label">Distrito</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="domiciliodireccion" type="text" class="form-control text administrativo">
                        <label for="domiciliodireccion" class="form-label">Domicilio</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 select-cont">
                <label for="domiciliocasa">Casa</label>
                <select id="domiciliocasa" class="form-control show-tick administrativo" >
                    <option value="Propia">Propia</option>
                    <option value="Anticrético">Anticrético</option>
                    <option value="Alquilado">Alquilado</option>
                </select>
            </div>
        </div>
        </br>
    </div>
</div>