<div id="administrativo_form_body" class="box-body">
    <div class="bordesdiv">
        </br>
        <div class="modal-header header-own">
            <h4 id="administrativo_title" class="modal-title">Instrucción</h4>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4 select-cont">
                <input id="idedc" type="hidden" class="educacion">
                <label for="niveleducativo">Nivel Educativo</label>
                <select id="niveleducativo" class="form-control show-tick educacion">
                    <option value="Primaria">Primaria</option>
                    <option value="Secundaria">Secundaria</option>
                    <option value="Tecnológico">Tecnológico</option>
                    <option value="Universidad">Universidad</option>
                </select>
            </div>
            <div class="col-sm-4 select-cont">
                <label for="tipocentroestudio">Tipo Centro Educativo</label>
                <select id="tipocentroestudio" class="form-control show-tick educacion">
                    <option value="Estatal">Estatal</option>
                    <option value="Extranjero">Extranjero</option>
                    <option value="Particular">Particular</option>
                    <option value="Correspondencia">Correspondencia</option>
                </select>
            </div>
            <div class="col-sm-4 select-cont">
                <label for="condicionactual">Condición Actual</label>
                <select id="condicionactual" class="form-control show-tick educacion">
                    <option value="Estudia">Estudia</option>
                    <option value="Trunco">Trunco</option>
                    <option value="Egresado">Egresado</option>
                    <option value="Tecnológico">Tecnológico</option>
                    <option value="Universidad">Universidad</option>
                </select>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="nombrecentroestudio" type="text" class="form-control educacion">
                        <label for="nombrecentroestudio" class="form-label">Nombre Centro de Estudios</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="profesiondt" type="text" class="form-control educacion">
                        <label for="profesiondt" class="form-label">Profesión</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div id="fechatitulo" class="form-line">
                        <label for="fechatitulodt" class="form-label">Fecha de Titulación</label>
                        <input id="fechatitulodt" name="fecha" type="text" class="form-control date educacion date-own">
                    </div>
                </div>
            </div>
        </div>
        </br>
    </div>
    </br>
</div>