<div id="capacitacion_form_body" class="box-body">
    <div class="bordesdiv">
        </br>
        <div class="modal-header header-own">
            <h4 id="capacitacion_title" class="modal-title">Capacitación</h4>
        </div>

        <div class="row clearfix">
           <div class="col-sm-10">
                <label class="form-label">Datos capacitación</label>
           </div>
           <div class="col-sm-2">
                <div class="form-group">
                    <button id="new_capacitacion" type="button" class="btn bg-page-own waves-effect" title="Agregar">
                        <i class="material-icons">add</i>
                    </button>
                </div>
           </div>
        </div>

        <div class="row clearfix">
           <div class="col-sm-12">
                 <div id="capacitacion" class="box-body">
                    <div id="capacitacion_div" class="clearfix">

                    </div>
                 </div>
           </div>
       </div>
        </br>
    </div>
    </br>
</div>