.nav-img {
    height: 24px;
    padding: 0px;
    width: auto;
}
.nav-noimg {
    height: 40px;
    padding: 0px;
    width: auto;
}
.buttons-print {
    background-color: #006064;
    color: white;
}
.buttons-excel {
    background-color: #006666;
    color: white;
}
.bg-blue-dark-own{
    background-color: #19458D; /*#428EBD;*/
}
.white-own{
    color: white !important;
}
.accion {
    cursor: pointer
}
.bg-page-own{
    background-color: #01579b !important;
    color: #fff !important;
    border-bottom: none !important;
}
.bg-page-own h1, .bg-page-own h2, .bg-page-own h3, .bg-page-own h4, .bg-page-own h5, .bg-page-own h6{
    background-color: #01579b !important;
    color: #fff !important;
    border-bottom: none !important;
}
.bg-page-own button:hover{
    color: #fff !important;
}
.bg-page-own button:focus{
    color: #fff !important;
}
#data_table_filter{
    margin-bottom: 10px;
}
.select-cont{
    margin-bottom: 24px !important;
}
.txta-own{
    max-width: 100% !important;
    background-color: rgba(40, 40, 40, .02);
    padding: 4px !important;
    min-width: 100% !important;
}
.loader-own{
    text-align: center;
}
.preloader-own{
    width: 40px;
    height: 40px;
}

.barra-titulo{
    background-color: #81a2be;
}

.contenedor{
    display: flex;
}
.caja-icono{
    margin: 0 10px;
    cursor: pointer;
}
.icono{
    width: 50px;
    height: 50px;
}
.icono-table{
    width: 40px;
    height: 40px;
}
.nav-own { padding-top: 0 !important; }
.div-calendar { margin: 0 auto 38px auto !important; }
.calendar-hd { height: 50px; }
.calendar-ct, .month-items, .days, .week { list-style-type: none !important; padding-left: 0 !important; list-style: none !important; }
.view, .view-date { margin-left: -10px !important; }
.calendar-ct { width: 320px !important; height: 330px !important; background-color: rgba(0, 0, 0, .02); }
.calendar-hd a { text-decoration: none !important; }
.date-items { margin-left: -104% !important; list-style: none !important; }
.bg-primary:hover, .bg-primary:focus{ color: #fff !important; }
