<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg-own" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="tarea_title" class="modal-title">Ingreso de tarea</h3>
                <h4 id="tarea_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">

                    <div class="row justify-content-md-center">
                        <div>
                            <div id="id_div" class="form-group form-float">
                                <div class="">
                                    <label for="idseg" class="form-label">ID Segumiento</label>
                                    <input id="idseg" name="idseg" type="text" class="form-control" readonly autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-2">
                            <div class="form-group form-float">
                                <div class="">
                                    <label for="rdfecha" class="form-label">Fecha</label>
                                    <input id="rdfecha" name="rdfecha" type="text" class="form-control" autofocus readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-5">
                            <div class="form-group form-float">
                                <div class="">
                                    <label for="rdpersona" class="form-label">Persona</label>
                                    <input id="rdpersona" name="rdpersona" type="text" class="form-control" autofocus readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 id="cliente_enable" class="p-t-15">Lista de Tareas</h4>

                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <button id="insert-task" type="button" class="btn bg-blue waves-effect" title="Agregar tarea">
                                <i class="material-icons">note</i>
                            </button>
                        </div>
                        <div class="col-sm-2 pt-col-own">
                            <input type="checkbox" id="5" class="filled-in chk-col-teal" checked disabled/>
                            <label for="5">Finalizadas</label>
                        </div>
                        <div class="col-sm-2 pt-col-own">
                            <input type="checkbox" id="6" class="filled-in chk-col-grey" checked disabled/>
                            <label for="6">Por realizar</label>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="table_tasks" class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Proyecto</th>
                                    <th>Descripción</th>
                                    <th>Prioridad</th>
                                    <th>Estimación (h)</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Estado</th>
                                    <th id="row-del">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="cont_tasks">

                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="spn-addrv" class="loader-wrapper" style="display: none">
                    <div class="loader loader-own">
                        <div class="preloader preloader-own">
                            <div class="spinner-layer pl-indigo">
                                <div class="circle-clipper left"><div class="circle"></div></div>
                                <div class="circle-clipper right"><div class="circle"></div></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center inf-own">Guardando...</p>
                </div>

                <div class="modal-footer">
                    <button id="save-tasks" type="button" class="btn bg-page-own waves-effect">Guardar <i class="material-icons">save</i></button>
                    {% if 'tarea_inserts' in privileges %}
                        <button id="insert" type="button" class="btn bg-page-own waves-effect">Guardar <i class="material-icons">save</i></button>
                    {% end %}
                    {% if 'tarea_updates' in privileges %}
                        <button id="update" type="button" class="btn bg-page-own waves-effect">Modificar <i class="material-icons">refresh</i></button>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
</div>


<div id="form-seg" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="mantenimiento_tittle" class="modal-title">Generar tareas</h3>
                <h4 id="mantenimiento_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div class="row clearfix">
                        <div class="col-sm-12 select-cont">
                            <label for="fkpersona">Persona</label>
                            <select id="fkpersona" class="form-control">
                                {% for p in personas %}
                                    <option value="{{p.id}}">{{p.fullname}}</option>
                                {% end %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-line">
                            <label for="fechaini" class="form-label">Fecha Inicio</label>
                            <input id="fechaini" name="Fecha de Mantenimiento" type="text" class="form-control date" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-line">
                            <label for="fechafin" class="form-label">Fecha Fin</label>
                            <input id="fechafin" name="Fecha de Proximo Mantenimiento" type="text" class="form-control date" required>
                        </div>
                    </div>

                </div>

                <div id="spn-addsg" class="loader-wrapper" style="display: none">
                    <div class="loader loader-own">
                        <div class="preloader preloader-own">
                            <div class="spinner-layer pl-indigo">
                                <div class="circle-clipper left"><div class="circle"></div></div>
                                <div class="circle-clipper right"><div class="circle"></div></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center inf-own">Guardando...</p>
                </div>

                <div class="modal-footer">
                    <button id="save-seg" type="button" class="btn bg-page-own waves-effect">Guardar <i class="material-icons">save</i></button>
                </div>
            </div>
        </div>
    </div>
</div>