<div id="form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:70vw; max-width: 700px" >
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 id="autorizacion_extra_title" class="modal-title">Autorizar Hora Extra</h3>
                    <h4 id="autorizacion_extra_enable" class=""></h4>
                </div>
                <div class="modal-body">
                    <div id="cliente_form_body" class="box-body">
                        <div id="id_div" class="form-group">
                            <div class="form-line">
                                {% module xsrf_form_html() %}
                                <input id="id" type="text" class="form-control" disabled="disabled">
                                <label for="id" class="form-label"> ID</label>
                            </div>
                        </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-line">
                                <label class="form-label">Nombre</label>
                                <input id="nombre" name="Nombre" class=" form-control" readonly>
                            </div>
                            <input type="hidden" id="fkpersona" >
                            <input type="hidden" id="fkasistencia" >
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="body table-responsive">
                                <table id="data_table_hora" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="order_by_th" data-name="name">Fecha</th>
                                            <th class="order_by_th" data-name="name">Hora Salida</th>
                                            <th class="order_by_th" data-name="name">Marcacion</th>
                                            <th class="order_by_th" data-name="name">Extra</th>
                                            <th class="order_by_th" data-name="name">Hora Autorizado</th>
                                        </tr>

                                    </thead>
                                    <tbody id="table_content">
                                        <tr>
                                            <td><input id="fecha" type="text" class="form-control" readonly>
                                            <td><input id="horasalida" type="text" class="form-control hr" placeholder="Ex: 23:59" ></td>
                                            <td><input id="marcacion" type="text" class="form-control hr" placeholder="Ex: 23:59" ></td>
                                            <td><input id="extra" type="text" class="form-control hr" placeholder="Ex: 23:59" ></td>
                                            <td><input id="autorizado" type="text" class="form-control hr" placeholder="Ex: 23:59" ></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                </div>


                    </div>

                    <div class="modal-footer">
                    {% if 'autorizacion_extra_delete' in privileges %}
                        <button id="deshabilitar" type="button" class="btn bg-red waves-effect">Deshabilitar <i class="material-icons">clear</i></button>
                    {% end %}
                    <button id="cerrar" type="button" class="btn waves-effect">Cerrar <i class="material-icons">arrow_drop_down</i></button>

                    {% if 'autorizacion_extra_insert' in privileges %}
                        <button id="insert" type="button" class="btn bg-page-own waves-effect">Autorizar <i class="material-icons">save</i></button>
                    {% end %}
                    {% if 'autorizacion_extra_update' in privileges %}
                        <button id="update" type="button" class="btn bg-page-own waves-effect">Actualizar <i class="material-icons">refresh</i></button>
                    {% end %}
                    </div>
                </div>
        </div>
    </div>
</div>
