{% for c in objects %}
<tr>
    <td>{{ c.id }}</td>
    <td>{{ c.persona.fullname }}</td>
    <td>{{ c.dias }}</td>
    <td>{{ c.gestion }}</td>
    <td>{{ c.estado }}</td>

    <td align="center">
        <div class="contenedor">
            {% if 'v_personal_historico' in privileges %}
                <div id="historico" data-json="{{c.id}}" data-fkpersona="{{c.fkpersona}}" class="caja-icono historico" title="Historico">
                    <img src="/resources/iconos/seguimiento.ico" class="icono-table"/>
                </div>
            {% end %}

        </div>
    </td>
    <td align="center">
        <div class="contenedor">
            {% if 'v_personal_update' in privileges %}
                <div id="edit" data-json="{{c.id}}" data-fkpersona="{{c.fkpersona}}" class="caja-icono edit" title="Actualizar">
                    <img src="/resources/iconos/editar.ico" class="icono-table"/>
                </div>
            {% end %}

        </div>
    </td>
</tr>
{% end %}