<div id="form-boleta" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document"    style="width:70vw; max-width: 2000px" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 id="cliente_title" class="modal-title">Descargar Boleta de Asistencia</h3>
                <small id="aclaracion">Los registros con horas extras autorizadas no pueden darse de baja.</small>
                <h4 id="cliente_enable" class=""></h4>
            </div>
            <div class="modal-body">
                <div id="cliente_form_body" class="box-body">
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <label class="form-label">Fecha Inicio</label>
                           <div class="form-group">
                                <div id="fechaDIVinicioboleta" class="form-line success">

                                    <input id="fechaiboleta" type="text" class="form-control dateiboleta">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="form-label">Fecha Fin</label>
                                <div id="fechaDIVfinboleta" class="form-line success">

                                    <input id="fechafboleta" type="text" class="form-control datefboleta">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">


                        </div>
                    </div>
                    <div class="row clearfix">
                        <div id="desplegable" class="col-sm-6">
                            <div class="form-group form-float">
                            <label>Personal</label>
                                <div class="clearfix m-b-20">
                                    <div class="dd">
                                        <ol class="dd-list">
                                            <li class="dd-item dd-nodrag" data-id="company">
                                                <div class="dd-handle">
                                                    <input id="company" type="checkbox" class="module chk-col-deep-purple">
                                                    <label for="company">Todos</label>
                                                </div>
                                                <ol class="dd-list">
                                                    {% for empresa in admin %}
                                                    <li class="dd-item dd-nodrag " data-id="em{{empresa[0]}}">
                                                        <div class="dd-handle ">
                                                            <input id="em{{empresa[0]}}" type="checkbox" class="module chk-col-deep-purple empresa" data-id="{{empresa[0]}}">
                                                            <label for="em{{empresa[0]}}">{{empresa[1]}}</label>
                                                        </div>
                                                        <ol class="dd-list">
                                                        {% if isinstance(admin[empresa], dict) %}
                                                            {% for sucursal in admin[empresa] %}
                                                                <li class="dd-item dd-collapsed" data-id="suc{{sucursal[0]}}">
                                                                    <div class="dd-handle">
                                                                        <input id="suc{{sucursal[0]}}" type="checkbox" class="module chk-col-deep-purple sucursal" data-id="{{sucursal[0]}}" data-empr="{{empresa[0]}}">
                                                                        <label for="suc{{sucursal[0]}}">{{sucursal[1]}}</label>
                                                                    </div>
                                                                    <ol class="dd-list">
                                                                        {% if isinstance(admin[empresa][sucursal], dict) %}
                                                                            {% for gerencia in admin[empresa][sucursal] %}
                                                                                <li class="dd-item dd-nodrag dd-collapsed" data-id="ge{{gerencia[0]}}">
                                                                                    <div class="dd-handle">
                                                                                        <input id="ge{{gerencia[0]}}" type="checkbox" class="module chk-col-deep-purple gerencia" data-id="{{gerencia[0]}}" data-suc="{{sucursal[0]}}" data-empr="{{empresa[0]}}">
                                                                                        <label for="ge{{gerencia[0]}}">{{gerencia[1]}}</label>
                                                                                    </div>
                                                                                    <ol class="dd-list">
                                                                                        {% if isinstance(admin[empresa][sucursal][gerencia], dict) %}
                                                                                            {% for grupo in admin[empresa][sucursal][gerencia] %}
                                                                                                <li class="dd-item dd-collapsed" data-id="gr{{grupo[0]}}">
                                                                                                    <div class="dd-handle">
                                                                                                        <input id="gr{{grupo[0]}}" type="checkbox" class="module chk-col-deep-purple grupo" data-id="{{grupo[0]}}" data-ger="{{gerencia[0]}}" data-suc="{{sucursal[0]}}" data-empr="{{empresa[0]}}">
                                                                                                        <label for="gr{{grupo[0]}}">{{grupo[1]}}</label>
                                                                                                    </div>
                                                                                                    <ol class="dd-list">
                                                                                                        {% raw admin[empresa][sucursal][gerencia][grupo] %}
                                                                                                    </ol>
                                                                                                </li>
                                                                                            {% end %}
                                                                                        {% else %}
                                                                                            {% raw admin[empresa][sucursal][gerencia] %}
                                                                                        {% end %}
                                                                                </ol>
                                                                                </li>
                                                                            {% end %}
                                                                        {% else %}
                                                                            {% raw admin[empresa][sucursal] %}
                                                                        {% end %}
                                                                </ol>
                                                                </li>
                                                            {% end %}
                                                        {% else %}
                                                            {% raw admin[empresa] %}
                                                        {% end %}
                                                    </ol>
                                                    </li>
                                                    {% end %}
                                                </ol>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                         </div>



{#                        <div class="col-sm-4">#}
{#                             <label>Buscar personas</label>#}
{#                            <select id="personal" class="form-control">#}
{#                                {% for s in personal %}#}
{#                                <option value="{{ s.id }}">{{ s.fullname }}</option>#}
{#                                {% end %}#}
{#                            </select>#}
{#                            </br>#}
{#                            </br>#}
{#                        </div>#}
{#                        <div class="col-sm-6">#}
{#                            <div id="personal" class="box-body">#}
{#                                <div id="personal_div" class="clearfix">#}
{##}
{#                                </div>#}
{#                             </div>#}
{#                        </div>#}

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-1">
                            <button id="generar_pdf" type="button" class="btn bg-red waves-effect" data-toggle="tooltip" data-placement="top" title="Boleta PDF">
                                <i class="material-icons">picture_as_pdf</i>
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button id="generar_rep" type="button" class="btn bg-blue waves-effect" data-toggle="tooltip" data-placement="top" title="Reporte de Horas/Días Totales">
                                <i class="material-icons">timer</i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
