{% extends ../../../common/views/layout.html %}

{% block style %}
    {% set user = usuario %}
    <link rel="stylesheet" href="asistencia/asistenciapersonal/assets/asistenciapersonal.css">
{% end %}

{% block content %}
    {% include form.html %}
    {% include form-boleta.html %}


    <div class="header bg-page-own"><h2>Asistencia Personal</h2></div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <div class="contenedor">
                    {% if 'asistenciapersonal_insert' in privileges %}
                        <div id="new" class="caja-icono" title="Nuevo">
                            <img src="/resources/iconos/agregar.ico" class="icono" />
                        </div>
                    {% end %}
                    <div id="actualizar_marcaciones" class="caja-icono" title="Actualizar Marcaciones">
                        <img src="/resources/iconos/biometrico.png" class="icono" />
                    </div>

                    <div id="boleta" class="caja-icono" title="Boleta de Asistencia">
                        <img src="/resources/iconos/boleta.ico" class="icono" />
                    </div>
                    <div class="col-sm-1">
                        <button id="eliminar_marcaciones" type="button" class="btn btn-info waves-effect" title="Eliminar marcaciones">
                            <i class="material-icons">timer_off</i>
                        </button>
                    </div>
                    <div class="col-sm-1">
                            <button id="eliminar_reg" type="button" class="btn bg-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Remover">
                                <i class="material-icons">delete_sweep</i>
                            </button>
                        </div>
                    <div class="col-sm-1">
                        <div id="filtrar" class="caja-icono" title="Filtrar">
                            <img src="/resources/iconos/filtrar.png" class="icono" />
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-2">
                <label class="form-label">Fecha Inicio</label>
               <div class="form-group">
                    <div id="fechaDIVinicio" class="form-line success">

                        <input id="fechai" type="text" class="form-control datei">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">Fecha Fin</label>
                    <div id="fechaDIVfin" class="form-line success">

                        <input id="fechaf" type="text" class="form-control datef">
                    </div>
                </div>
            </div>
{#            <div class="col-sm-3">#}
{#                <label>Personal</label>#}
{#                 <select id="fkpersona" class="form-control" >#}
{#                    {% for s in personales %}#}
{#                        <option value="{{s.id}}">{{s.fullname}}</option>#}
{#                    {% end %}#}
{#                 </select>#}
{#            </div>#}



        </div>
        <div class="row clearfix">
            <div class="col-sm-2">
                <label>Horarios</label>
                 <select id="fkperiodo" class="form-control" >
                    {% for s in periodos %}
                        <option value="{{s.id}}">{{s.semanal.nombre}}</option>
                    {% end %}
                 </select>
            </div>
            <div class="col-sm-2">
                <label>Sucursal</label>
                 <select id="fksucursal" class="form-control" >
                    {% for s in sucursales %}
                        <option value="{{s.id}}">{{s.nombre}}</option>
                    {% end %}
                 </select>
            </div>
            <div class="col-sm-3">
                 <label>Buscar personas</label>
                <select id="personal" class="form-control">
                    {% for s in personal %}
                    <option value="{{ s.id }}">{{ s.fullname }}</option>
                    {% end %}
                </select>
                </br>
                </br>
            </div>
            <div class="col-sm-6">
                <div id="personal" class="box-body">
                    <div id="personal_div" class="clearfix">

                    </div>
                 </div>
            </div>

        </div>

        <div id="rproc-loader" class="loader-wrapper" style="display: none">
            <div class="loader loader-own">
                <div class="preloader preloader-own">
                    <div class="spinner-layer pl-teal">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                </div>
            </div>
            <p class="text-center inf-own">Creando Horarios de Asistencia...</p>
        </div>

        <div id="rproc-loader-marcas" class="loader-wrapper" style="display: none">
            <div class="loader loader-own">
                <div class="preloader preloader-own">
                    <div class="spinner-layer pl-teal">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                </div>
            </div>
            <p class="text-center inf-own">Sincronizando Marcaciones de Asistencia...</p>
        </div>

        <div id="rproc-loader-filtro" class="loader-wrapper" style="display: none">
            <div class="loader loader-own">
                <div class="preloader preloader-own">
                    <div class="spinner-layer pl-teal">
                        <div class="circle-clipper left"><div class="circle"></div></div>
                        <div class="circle-clipper right"><div class="circle"></div></div>
                    </div>
                </div>
            </div>
            <p class="text-center inf-own">Cargando Horarios de Asistencia...</p>
        </div>

        {% if 'asistenciapersonal_query' in privileges %}
        <div class="row">
            <div class="body table-responsive">
                <table id="data_table" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="order_by_th" data-name="names">N°</th>
                            <th class="order_by_th" data-name="names">Codigo</th>
                            <th class="order_by_th" data-name="names">Sucursal</th>
                            <th class="order_by_th" data-name="names">Nombre Completo</th>
                            <th class="order_by_th" data-name="names">Fecha</th>
                            <th class="order_by_th" data-name="names">Entrada</th>
                            <th class="order_by_th" data-name="names">Salida</th>
                            <th class="order_by_th" data-name="names">Marcación Entrada</th>
                            <th class="order_by_th" data-name="names">Marcación Salida</th>
                            <th class="order_by_th" data-name="names">Observación</th>
                            <th class="order_by_th" data-name="names">Retraso</th>
                            <th class="order_by_th" data-name="names">Extra</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
        {% else %}
        <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10"></div>
        {% end %}
    </div>
{% end %}

{% block script %}
    <script src="resources/plugins/momentjs/locale/es.js"></script>
    <script src="resources/js/functions.js"></script>
    <script src="asistencia/asistenciapersonal/assets/asistenciapersonal.js"></script>
    <script src="resources/plugins/jquery-countto/jquery.countTo.js"></script>
    <script src="resources/js/functions.js"></script>

    <script src="resources/js/dataTables.buttons.js"></script>
    <script src="resources/js/pdfmake.js"></script>
    <script src="resources/js/vfs_fonts.js"></script>
    <script src="resources/js/buttons.bootstrap.js"></script>
    <script src="resources/js/buttons.html5.js"></script>
    <script src="resources/js/buttons.print.js"></script>
    <script src="resources/js/buttons.colVis.js"></script>
    <script>
        $(document).ready(function () {

            var data = [];
            {% set cont = 0 %}
            {% for c in horarios %}
                data.push( [
                    '{{ c.id }}',
                    '{{ c.codigo }}',
                    '{{ c.persona.empleado[0].sucursal.nombre }}',
                    '{{ c.nombrecompleto }}',
                    '{{ c.fecha.strftime("%d/%m/%Y") }}',
                    '{{ c.entrada.strftime("%H:%M") }}',
                    '{{ c.salida.strftime("%H:%M") }}',
                    '{%if c.mentrada %}{{ c.mentrada.strftime("%H:%M") }}{%else%}------{%end%}',
                    '{%if c.msalida %}{{ c.msalida.strftime("%H:%M") }}{%else%}------{%end%}',
                    '{{ c.observacion }}',
                    '{%if c.retraso %}{{ c.retraso.strftime("%H:%M") }}{%else%}------{%end%}',
                    '{%if c.extra %}{{ c.extra.strftime("%H:%M") }}{%else%}------{%end%}'
                ]);
            {% set cont = cont + 1 %}
            {% end %}
            cargar_tabla(data)
        });


    </script>
{% end %}